<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>

    <div class="navbar-wrapper">
        <ul class="navbar">
            <li class="nav-item"><a  href="/website">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/contact">Contact</a></li>
            <li class="nav-item"><a href="http://localhost:4200">Admin</a></li>
        </ul>
    </div>
    <h1>Welcome to a Node App!</h1>

    <script src="javascripts/scripts.js"></script>


</body>
</html>
