body{
  padding: 0;
  margin: 0;
}
.navbar-wrapper{
  width:100%
}
  .navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
    .navbar .nav-item{
      flex-basis: 10%;
    }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
